
h2{
    background-color:  transparent;
font-size: 18px;
margin-bottom: 32px;
height: 100vh;
}

#pensamiento{
    background-image: url("../img/imgPensamiento.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 30%;
    background-attachment: fixed;
}