@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat+Alternates:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat+Alternates:wght@300;400&family=Rouge+Script&display=swap');
*{
    padding: 0;
    margin: 0;
}
/*+++++++++++++++++++++++Seccion Portada +++++++++++++++++++++++++++*/
#InvPortada{

    padding-left:5% ;
    height:100vh;
    display: grid;
    background-image: url("../img/imgPortada.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5,1fr);

    text-align: center;

}

#InvPortada > label:first-child{

    grid-row: 2/2;
    
    font-family: Bell MT;
    font-size: calc(3em + 1vw);
}
#InvPortada > label:nth-child(2){
    grid-row: 3/3;
    font-family:'Great Vibes', cursive; 
    font-size: calc(3em + 1vw);
}
#InvPortada > label:nth-child(3){

    
    grid-row: 4/4;
    font-family: Bell MT;
    font-size: calc(0.5em + 1vw);
}

@media  (max-width: 767px) {

   
    #InvPortada{
        height: 95vh;
        background-position-x:20%;
    }
    
    #InvPortada > label:first-child{
        /* font-family: 'Rouge Script', cursive; */
        font-family:'Great Vibes', cursive;  /*adecuar */
        padding-top: 40%;
        font-size: 60px;/*----------------adecaur */
    }

    #InvPortada > label:nth-child(2){
        
        font-size: 45px;
    }
    #InvPortada > label:nth-child(3){

        font-family: 'Rouge Script', cursive;
        padding-top: 40%;
        font-size: 24px;/*corregir para las pantallas fecha */
        grid-row: 5/5;
        grid-column: 2/-1;
        
        font-weight: bold;
    }
}
/*+++++++++++++++++++++++Seccion Portada FIN +++++++++++++++++++++++++++*/

/*+++++++++++++++++++++++Seccion Pensamiento+++++++++++++++++++++++++++*/

#InvPensamiento{

    height: 100%;
    display: grid;


    background-image: url("../img/imgPensamiento.jpg");
    background-repeat: no-repeat;
    background-position-x: 30%;
    background-size:cover;
    background-attachment:fixed;


}

#InvPensamiento > *{

    height: 100vh;
    grid-gap: 10px;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    
   
}

.penText{
    text-align: center;
    color: white;
    font-family: 'Great Vibes', cursive;
    font-size: 28px;

    grid-row: 4/4;

    
}

@media  (min-width: 767px) {

    #InvPensamiento > *{

        height: 100vh;
        grid-gap: 10px;
        display: grid;
        grid-template-rows: repeat(4,1fr);
        grid-template-columns: repeat(3,1fr);
       
    }
    .penText{
        grid-column: 3/3;
        font-size: 24px;
    }

}

/*+++++++++++++++++++++++Seccion Pensamiento FIN+++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++Seccion Papas+++++++++++++++++++++++++++*/
#InvPapas{

    height: 100vh;
    grid-gap: 10px;
    display: grid;
    
    background-image: url("../img/img_papas4.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
    grid-template-rows: repeat(9,1fr);
   

}

#InvPapas > p{

    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 3vh;
    grid-row: 1/5;
    margin: 10%;
    text-align: justify;
    
}
#InvPapas > label {

    text-align: center;
    font-family: 'Rouge Script', cursive;
    font-size: 5vh;
    
}

#InvPapas > label:nth-child(2){
    
    grid-row: 6/6;
}
#InvPapas > label:nth-child(3){
    grid-row: 7/7;
}
#InvPapas > label:nth-child(4){
    grid-row: 8/8;
}




/*+++++++++++++++++++++++Seccion papas FIN+++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++Seccion Padrino +++++++++++++++++++++++++++*/
#InvPadrino{

    height: 100vh;
    display: grid;
    text-align: center;
    background-image: url("../img/fondo_papas_01.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x: 70%;
    grid-template-rows: repeat(4,1fr);

}


#InvPadrino > label:nth-child(1){

    display: flex;
    align-items: end;
    justify-content: center;
    font-family: 'Rouge Script', cursive;
    font-size: 4vh;
    grid-row: 3/3;
}
#InvPadrino > label:nth-child(2){

    font-family: 'Great Vibes', cursive;
    font-size: 3vh;
    grid-row: 4/4;
}
/*+++++++++++++++++++++++Seccion papas FIN+++++++++++++++++++++++++++*/

/*+++++++++++++++++++++++Seccion iglesia+++++++++++++++++++++++++++*/
#InvIglesia{

    height: 90vh;
    display: grid;
    text-align: center;
    background-color: #fcf1ef;
    grid-template-rows: repeat(7,1fr);
    padding: 10%;

   
}
#InvIglesia > * {
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 14px;
    background-color: white;
    display: flex;
    padding-left: 3%;
    padding-right: 3%;
}

h2{
    text-align: center;
    font-weight: lighter;
    font-family: 'Rouge Script', cursive;
    font-size: 5vh;
}

span{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding-right: 10px;
}


#InvIglesia > div:nth-child(1){
    align-items: center;
    justify-content: center;
    grid-row: 1/2;
}
#InvIglesia > div:nth-child(2){

    background-image: url("../img/iglesia2.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    grid-row: 2/5;
}
#InvIglesia > div:nth-child(3){

    font-size: 16px;
    font-weight: bold;
    padding-top: 8%;
    justify-content: center;
    grid-row: 5/6;
}
#InvIglesia > div:nth-child(4){
    text-align: left;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-row: 6/7;
}
#InvIglesia > div:nth-child(5){

    align-items: center;
    justify-content: center;
    grid-row: 7/7;
    
}

.btnIglesia{
    
    text-align: center;
    background-color: #ECBDB7;
    border: none;
    color: white;
    width: 100%;
    height: 60%;
    border-radius: 4px;
    
}


/*+++++++++++++++++++++++Seccion Iglesia FIN+++++++++++++++++++++++++++*/

/*+++++++++++++++++++++++Seccion Lugar +++++++++++++++++++++++++++*/
#InvLugar{

    height: 90vh;
    display: grid;
    text-align: center;
    background-color: #fcf1ef;
    grid-template-rows: repeat(6,1fr);
    padding: 10%;

   
}
#InvLugar > * {
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 14px;
    background-color: white;
    display: flex;
    padding-left: 3%;
}

#InvLugar > div:nth-child(1){
    align-items: center;
    justify-content: center;
    grid-row: 1/2;
}
#InvLugar > div:nth-child(2){

   
    background-color: blue;
    background-image: url("../img/imagen_salon.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;



    grid-row: 2/4;
}

#InvLugar > div:nth-child(3){

    display: grid;
    text-align: left;
    grid-template-rows: repeat(4,1fr);
    grid-row: 4/6;
}
#InvLugar > div:nth-child(3) > label:nth-child(1){
   
    text-align: center;
    font-weight: bold;
    padding-top: 5%;
}

#InvLugar > div:nth-child(4){
    align-items: center;
    grid-row: 6/6;
}

/*+++++++++++++++++++++++Seccion Lugar FIN+++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++Seccion ubicacion +++++++++++++++++++++++++++*/
.ModUbicacion{

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
    --transform: translateY(0vh);
    --transition: transform .8s;
    background-color: #ECBDB7;

}
.ModIglesia{

    width: 90%;
    height: 90%;
    background-color: white;
    display: grid;
    margin: auto;

    gap: 1em;
    place-items: center;
    grid-auto-columns: ifr;
    grid-template-rows: repeat(8, 1fr);
    transform: var(--transform);
    transition: var(--transition);
}



.ClsModal{

    color: #FFF;
    background-color: #ECBDB7;
    border: none;
    border-radius: 4px;
    text-align: center;
    transition: background-color 3.s;

}




.modal--show{
    opacity: 1;
    pointer-events: unset;
}
/*+++++++++++++++++++++++Seccion ubicacion FIN+++++++++++++++++++++++++++*/

/**/
  
.ModIglesia > *{

    height: 100%;
    display: flex;
    
    align-items: center;
    justify-content: center;

}

.ModIglesia > div:nth-child(1){
   
    grid-row: 1/2;
}
.ModIglesia > div:nth-child(2){


    grid-row: 2/7;

}

.ModIglesia > div:nth-child(3){
   
    height: 1fr;
    grid-row: 7/7;
    margin-left: 20px;
    margin-right: 20px;
 


}
.ModIglesia > div:nth-child(4){

    text-align: center;
    height: 60%;
    width: 60%;
    background-color: #ECBDB7;
    border-radius: 10px;
    grid-row: 8/8;
  
    
}
/*******************Modal Ubicacion ***********************/
.ModUbicacionLugar{  

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
    --transform: translateY(0vh);
    --transition: transform .8s;
    background-color: #ECBDB7;

}
.modalshow{
    opacity: 1;
    pointer-events: unset;
}

.btnLugar{
    text-align: center;
    background-color: #ECBDB7;
    border: none;
    color: white;
    width: 100%;
    height: 60%;
    border-radius: 4px;
}

.ClsModalLugar{

    
    color: #FFF;
    background-color: #ECBDB7;
    border: none;
    border-radius: 4px;
    text-align: center;
    transition: background-color 3.s;
}
/*******************FIN Modal Ubicacion ***********************/
/*******************Despadida***********************/
.InvGracias{
    height: 100vh;
    display: grid;
    text-align: center;
    background-image: url("../img/fondo_papas_01.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x: 70%;
    grid-template-rows: repeat(3,1fr);
}
.InvGracias > div:nth-child(1){
   
    align-items: center;
    justify-content: center;

    
    grid-row: 2/3;
}

.InvGracias  > div:nth-child(1) > h1{

    font-family:'Great Vibes', cursive; 
    font-size: calc(2em + 1vw);;
}
/*******************Fin Despadida***********************/

#InvContador{
    
    height:100vh;
    display: grid;
   /* background-image: url("../img/imgPortada.jpg");*/
   background-color: #f3eceb;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    grid-template-rows: repeat(7,1fr)
}
#InvContador  > div:nth-child(1){
text-align: center;
    grid-row: 3/4;
}
#InvContador  > div:nth-child(2){

    grid-row: 4/5;
}
#countdown{
    width: 300px; 
    margin: 0 auto; 
    border:1px ;
    padding: 20px 0px;
    display: flex; justify-content: space-evenly;
    border-radius: 10px;
}
.box{
    background:  #ECBDB7; 
    border: 2px ; 
    width: 60px; 
    font-size: 40px; 
    text-align: center;
    border-radius: 10px;
    color: white;
}
.box .text{ 
    font-size: 12px; 
    background: rgb(250, 242, 250); 
    color:black; 
    padding: 5px 0;
    border-radius: 0px 0px 8px 8px;
}